body {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

#divForSvg{
    text-align: center;
}

#divForInput{
    text-align: center;
}

.link{
    stroke-width: 5.5px;
    stroke: grey;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

#characters{
    position: absolute;
}

/* style range */
input {
    text-align: center;
    width: 100%;
}

datalist {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

option {
    margin-left: 10;
}


input[type=range] {
  -webkit-appearance: none;
  display: block;
  margin: 0;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  color: transparent;
  background: rgb(182, 181, 181);
  border-radius: 999px;
  border: none;
}
input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  color: transparent;
  background: rgb(0, 0, 0);
  border-radius: 999px;
  border: none;
}
input[type=range]::-ms-track {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  color: transparent;
  background: rgb(0, 0, 0);
  border-radius: 999px;
  border: none;
}
input[type=range]::-ms-fill-lower {
  display: none;
}
input[type=range]::-ms-fill-upper {
  display: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background: rgb(0, 0, 0);
  box-shadow: 0px 2px 10px -2px black(1);
}

#nodeInfo{
  fill: orange;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
  -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
  -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
  -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
  filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
}

#my_dataviz{
  background: gray;
  box-shadow: 0 0 0 1600px rgba(0,0,0,0.65);
}

#divForInput{
  padding-bottom: 50px;
}

#graphDiv{
  -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background: black;
  box-shadow: 0px 2px 10px -2px black(1);
}
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background: black;
  box-shadow: 0px 2px 10px -2px black(1);
}
.ticks {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1px;
  background: rgb(228, 103, 103);
  height: 10px;
  line-height: 50px;
  margin-bottom: 20px;
}